* {
	margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  color: #444444;
  background-color: #F3F6F8;
}

#wrapper {
	width: 1000px;
	margin: auto;
}

header {
	height: 140px;	
}

#logo {
	background-color: #36548B;
}

#logo img {
	margin: auto;
	display: block;
	height: 100px;
}

.card {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px 0 20px 0;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-top-width: 1px;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.card-map {
	padding-top: 0;
}

.card .card-heading {
  padding: 0 20px;
  margin: 0;
}

.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}

.card .card-body {
  padding: 0 20px;
  margin-top: 20px;
}

.card .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

#search-form {
	float: left;
	width: 295px;
}

.row {
	min-height: 25px;
	width: 100%;
}

.input {
	float: right;
	border: 1px solid #e5e5e5;
}

.input:focus {
	box-shadow: 0 0 5px #e5e5e5;
	border: 1px solid #e5e5e5;
}

.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}

* html .ui-autocomplete {
	height: 100px;
}

#map-display {
	float: right;
	width: 680px;
	height: 380px;
}

#map-canvas {
	width: 680px;
	height: 380px;
	margin: 0px;
	padding: 0px;
}

#map-help {
	color: white;
	display: block;
	font-weight: bold;
	text-align: center;
	background-color: #5cb85c;
}

#map-help-close {
	display: inline-block;
	position: absolute;
	cursor: pointer;
	font-size: 16px;
	float: right;
	right: 10px;
}

/* Flip */

.flip-container { 
	float: right;
	width: 680px;
	height: 400px;
	padding-top: 0px;
	position: relative;
	margin: 10px auto 40px;
	-webkit-perspective: 800px;
	 -moz-perspective: 800px;
	   -o-perspective: 800px;
	      perspective: 800px;
}

#flip-card {
	width: 680px;
	height: 400px;
	position: absolute;
	-webkit-transition: -webkit-transform 1s;
	 -moz-transition: -moz-transform 1s;
	   -o-transition: -o-transform 1s;
	      transition: transform 1s;
	-webkit-transform-style: preserve-3d;
	 -moz-transform-style: preserve-3d;
	   -o-transform-style: preserve-3d;
	      transform-style: preserve-3d;
	-webkit-transform-origin: right center;
	 -moz-transform-origin: right center;
	   -o-transform-origin: right center;
	      transform-origin: right center;
}

#flip-card figure {
	height: 100%;
	width: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden;
	 -moz-backface-visibility: hidden;
	   -o-backface-visibility: hidden;
	      backface-visibility: hidden;
}

#flip-card .front .card {
	margin-top: 0;
	height: 100%;
	width: 100%;
}

#flip-card .back {
	background-color: #B3D1FF;
	border: 1px solid #d8d8d8;
	border-bottom-width: 2px;
	border-radius: 3px;
	  -webkit-transform: rotateY( 180deg );
	     -moz-transform: rotateY( 180deg );
	       -o-transform: rotateY( 180deg );
	          transform: rotateY( 180deg );
}

#flip-card.flipped {
    -webkit-transform: translateX( -100% ) rotateY( -180deg );
     -moz-transform: translateX( -100% ) rotateY( -180deg );
       -o-transform: translateX( -100% ) rotateY( -180deg );
          transform: translateX( -100% ) rotateY( -180deg );
}

.ad-card-text {
	height: 50px;
	padding: 20px;
	border-radius: 5px;
	margin-top: -90px;
}

.ad-card-text div {
	font-size: 24px;
	font-weight: normal;
	opacity: 1.0;
}

.ad-card-text-red {
	margin-top: 15px;
	font-size: 24px;
	color: red;
}

/* Tabs ----------------------------------*/
#tabs ul { 
    height: 2.35em; 
    text-align: center; 
    list-style: none;
	position: relative;
	padding: .2em .2em 0;
	border-width: 0;
} 
#tabs ul li { 
    display: inline-block; 
    float: none; 
    top: 0px; 
    margin: 0em;
    position: relative;
	padding: 0;
	border: 0px;
	background: none;
	border-bottom: 3px solid transparent;
}
#tabs {
	padding: .2em;
	zoom: 1;
}
#tabs ul li span {
	float: left;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	padding: .5em 1em;
	color: #444444;
}
#tabs ul li span:hover {
	cursor: pointer;
}

#tabs-content {
	padding: 1.1em 1.6em;
	display: block;
	border-width: 0;
	background: none;
}

#tabs ul li:hover {
	border-bottom: 3px solid #4d90fe;
}

#tabs ul .ui-state-active {
	border-bottom: 3px solid #427fed;
}

.row span {
	font-size: 1.1em;
}

.sort-by-container {
	margin: 5px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.sort-by-container span {
	margin-right: 10px;
	display: inline-block;
}

.sort-by-list {
	display: inline;
	-webkit-padding-start: 0;
}

.sort-by-list li {
	display: inline-block;
	background-color: #F9F9F9;
	padding: 3px 10px;
	margin-left: -3px;
	cursor: pointer;
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: gray;
	font-weight: bold;
}

.sort-by-list li:first-child {
	border-left: 1px solid gray;
	border-radius: 5px 0 0 5px;
}

.sort-by-list li:last-child {
	border-radius: 0 5px 5px 0;
}

.sort-by-list li.selected {
	background-color: #36548B;
	color: white;
}

.sort-by-list li.selected:hover {
	background-color: #36548B;
	color: white;
}

.sort-by-list li:hover {
	background-color: #4D90FE;
	color: white;
}

#results {
	padding: 15px;
}

#results-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
}

#results-table thead th {
	text-align: left;
	font-size: 20px;
	padding: 10px 10px;
	background-color: #4D90FE;
	color: white;
}

#results-table thead th:first-child {
    border-radius: 6px 0 0 6px;
}

#results-table thead th:nth-last-child(2) {
    border-radius: 0 6px 6px 0;
}

#results-table tbody tr:hover {
	background-color: #eee;
}

#results-table tbody tr td {
	padding: 10px 10px;
}

.clearfix {
	clear: both;
}

/* City Guide CSS */
.frontpage-city-guide h1,.frontpage-city-guide .city-block-header
{
	color: #163f5e;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 32px;
	font-weight: bold;
	margin: 20px 0px 40px 0px;
	text-align: center;
	
}

.frontpage-city-guide {
	display: block;
}

.frontpage-city-guide h1
{
	font-size: 32px;
	line-height: 32px;
}
.frontpage-city-guide .city-block-header
{
	font-size: 24px;
	line-height: 24px;
}
.frontpage-city-guide .frontpage-city-guide-inner
{
	margin: 0 auto;
	max-width: 1025px;
}
.frontpage-city-guide .frontpage-city-guide-inner .city-blocks
{
	text-align: center;
}
.frontpage-city-guide .frontpage-city-guide-inner .city-blocks .city-block
{
	color: white;
	display: inline-block;
	filter: alpha(opacity=90);
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	margin: 0 10px 16px;
	opacity: 0.9;
	text-align: center;
	text-decoration: none;
	text-shadow: #000 1px 1px 1px;
}
.frontpage-city-guide .frontpage-city-guide-inner .city-blocks .city-block.hidden
{
	display: none;
}
.frontpage-city-guide .frontpage-city-guide-inner .city-blocks .city-block:hover
{
	filter: alpha(opacity=100);
	opacity: 1;
}
.frontpage-city-guide .frontpage-city-guide-inner .city-blocks .city-block .city-name
{
	font-size: 36px;
	line-height: 36px;
	padding-top: 40px;
}
.frontpage-city-guide .frontpage-city-guide-inner .city-blocks .city-block .state-name
{
	font-size: 22px;
	line-height: 22px;
	padding-top: 4px;
}
.frontpage-city-guide .frontpage-city-guide-inner 
{
	text-align: center; 
	/*margin-left: 20px;*/
	font-size: 18px;
}

.frontpage-city-guide .frontpage-city-guide-inner .expand-city-guide:hover
{
	color: blue;
	cursor: pointer;
}
.frontpage-hr
{
	border-bottom: 1px solid #d2d2d2;
	margin: 20px auto 40px;
	max-width: 1025px;
}
.frontpage-results
{
	height: 384px;
	position: relative;
}

.city-block {
    height: 141px;
    width: 235px;
    background-repeat: no-repeat;
    background-color: #222;
    cursor: pointer; 
}
.city-block.load-images.city-block-atlanta {
    background-image: url("../images/city_blocks/atlanta.jpg")}
.city-block.load-images.city-block-austin {
    background-image: url("../images/city_blocks/austin.jpg")}
.city-block.load-images.city-block-baltimore {
    background-image: url("../images/city_blocks/baltimore.jpg")}
.city-block.load-images.city-block-berkeley {
    background-image: url("../images/city_blocks/berkeley.jpg")}
.city-block.load-images.city-block-boston {
    background-image: url("../images/city_blocks/boston.jpg")}
.city-block.load-images.city-block-chicago {
    background-image: url("../images/city_blocks/chicago.jpg")}
.city-block.load-images.city-block-dallas {
    background-image: url("../images/city_blocks/dallas.jpg")}
.city-block.load-images.city-block-denver {
    background-image: url("../images/city_blocks/denver.jpg")}
.city-block.load-images.city-block-detroit {
    background-image: url("../images/city_blocks/detroit.jpg")}
.city-block.load-images.city-block-fortlauderdale {
    background-image: url("../images/city_blocks/fortlauderdale.jpg")}
.city-block.load-images.city-block-hongkong {
    background-image: url("../images/city_blocks/hongkong.jpg")}
.city-block.load-images.city-block-houston {
    background-image: url("../images/city_blocks/houston.jpg")}
.city-block.load-images.city-block-laketahoe {
    background-image: url("../images/city_blocks/laketahoe.jpg")}
.city-block.load-images.city-block-lasvegas {
    background-image: url("../images/city_blocks/lasvegas.jpg")}
.city-block.load-images.city-block-london {
    background-image: url("../images/city_blocks/london.jpg")}
.city-block.load-images.city-block-losangeles {
    background-image: url("../images/city_blocks/losangeles.jpg")}
.city-block.load-images.city-block-madrid {
    background-image: url("../images/city_blocks/madrid.jpg")}
.city-block.load-images.city-block-miami {
    background-image: url("../images/city_blocks/miami.jpg")}
.city-block.load-images.city-block-monterey {
    background-image: url("../images/city_blocks/monterey.jpg")}
.city-block.load-images.city-block-montreal {
    background-image: url("../images/city_blocks/montreal.jpg")}
.city-block.load-images.city-block-napa {
    background-image: url("../images/city_blocks/napa.jpg")}
.city-block.load-images.city-block-neworleans {
    background-image: url("../images/city_blocks/neworleans.jpg")}
.city-block.load-images.city-block-newyork {
    background-image: url("../images/city_blocks/newyork.jpg")}
.city-block.load-images.city-block-oakland {
    background-image: url("../images/city_blocks/oakland.jpg")}
.city-block.load-images.city-block-orangecounty {
    background-image: url("../images/city_blocks/orangecounty.jpg")}
.city-block.load-images.city-block-orlando {
    background-image: url("../images/city_blocks/orlando.jpg")}
.city-block.load-images.city-block-paris {
    background-image: url("../images/city_blocks/paris.jpg")}
.city-block.load-images.city-block-philadelphia {
    background-image: url("../images/city_blocks/philadelphia.jpg")}
.city-block.load-images.city-block-phoenix {
    background-image: url("../images/city_blocks/phoenix.jpg")}
.city-block.load-images.city-block-portland {
    background-image: url("../images/city_blocks/portland.jpg")}
.city-block.load-images.city-block-raleigh {
    background-image: url("../images/city_blocks/raleigh.jpg")}
.city-block.load-images.city-block-riverside {
    background-image: url("../images/city_blocks/riverside.jpg")}
.city-block.load-images.city-block-rome {
    background-image: url("../images/city_blocks/rome.jpg")}
.city-block.load-images.city-block-saltlakecity {
    background-image: url("../images/city_blocks/saltlakecity.jpg")}
.city-block.load-images.city-block-sanantonio {
    background-image: url("../images/city_blocks/sanantonio.jpg")}
.city-block.load-images.city-block-sandiego {
    background-image: url("../images/city_blocks/sandiego.jpg")}
.city-block.load-images.city-block-sanfrancisco {
    background-image: url("../images/city_blocks/sanfrancisco.jpg")}
.city-block.load-images.city-block-seattle {
    background-image: url("../images/city_blocks/seattle.jpg")}
.city-block.load-images.city-block-sanjose {
    background-image: url("../images/city_blocks/sanjose.jpg")}
.city-block.load-images.city-block-stlouis {
    background-image: url("../images/city_blocks/stlouis.jpg")}
.city-block.load-images.city-block-stpaul {
    background-image: url("../images/city_blocks/stpaul.jpg")}
.city-block.load-images.city-block-tokyo {
    background-image: url("../images/city_blocks/tokyo.jpg")}
.city-block.load-images.city-block-toronto {
    background-image: url("../images/city_blocks/toronto.jpg")}
.city-block.load-images.city-block-vancouver {
    background-image: url("../images/city_blocks/vancouver.jpg")}
.city-block.load-images.city-block-washingtondc {
    background-image: url("../images/city_blocks/washingtondc.jpg")}

/* HIPMUNK CSS END */

.error {
	border: 1px solid red !important;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);

}

#no-results {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size: 30px;
	margin: 40px;
	color: gray;
}

/* Loadinig animation */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700);

#container h1 {
	font-family: 'Lato';
	color:#4d90fe;
	text-transform: uppercase;
	font-size:1em;
	letter-spacing:1.5px;
	text-align:center;
	width:155px;
	-webkit-animation: fade 2s infinite;
	-moz-animation: fade 2s infinite;
}

#container {
	width:180px;
	margin:auto;
	vertical-align: middle;
}

.stick {
	width: 30px;
	height:3px;
	background:#4d90fe;
	display:inline-block;
	margin-left:-4px;
}

.stick:nth-child(n) {
	transform:rotate(30deg);
	-ms-transform:rotate(30deg); /* IE 9 */
	-webkit-transform:rotate(30deg); /* Safari and Chrome */
	-moz-transform:rotate(30deg);
	-webkit-animation: fall 2s infinite;
	-moz-animation: fall 2s infinite;
}
.stick:nth-child(2n) {
	transform:rotate(-30deg);
	-ms-transform:rotate(-30deg); /* IE 9 */
	-webkit-transform:rotate(-30deg); /* Safari and Chrome */
	-moz-transform:rotate(-30deg);
	-webkit-animation: rise 2s infinite;
	-moz-animation: rise 2s infinite;
}

@-webkit-keyframes rise {
  50% { transform:rotate(30deg);
  -ms-transform:rotate(30deg); /* IE 9 */
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg); 
    ;}
}
@-moz-keyframes rise {
 50% { transform:rotate(30deg);
  -ms-transform:rotate(30deg); /* IE 9 */
  -webkit-transform:rotate(30deg);
   -moz-transform:rotate(30deg); 
}
}
@-o-keyframes rise {
  50% { transform:rotate(30deg);
  -ms-transform:rotate(30deg); /* IE 9 */
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg); 
}
@keyframes rise {
  50% { transform:rotate(30deg);
  -ms-transform:rotate(30deg); /* IE 9 */
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg); 
}
}}

@-webkit-keyframes fall {
  50% { transform:rotate(-30deg);
  -ms-transform:rotate(-30deg); /* IE 9 */
  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(30deg); 
}
}
@-moz-keyframes fall {
 50% { transform:rotate(-30deg);
  -ms-transform:rotate(-30deg); /* IE 9 */
  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(-30deg); 
 
 }
}
@-o-keyframes fall {
  50% { transform:rotate(-30deg);
  -ms-transform:rotate(-30deg); /* IE 9 */
  -webkit-transform:rotate(-30deg);
   -moz-transform:rotate(30deg); 

  }
@keyframes fall {
  50% { transform:rotate(-30deg);
  -ms-transform:rotate(-30deg); /* IE 9 */
  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(30deg); 

  }
}}

@-webkit-keyframes fade {
  50%{opacity:0.5}
  100%{opacity:1}
  ;}
@-moz-keyframes fade {
 50%{opacity:0.5}
  100%{opacity:1}
}
@-o-keyframes fade {
   50%{opacity:0.5}
  100%{opacity:1}
@keyframes fade {
   50%{opacity:0.5}
  100%{opacity:1}
}}

/* Loadinig animation end */

/* Booking CSS start */

#msform-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(204, 204, 204, .95);
}

#msform {
	width: 600px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	/*font-family: montserrat;*/
	color: #2C3E50;
	font-size: 13px;
}

/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	padding: 0;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 25%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

.close {
	background-color: #dd4b39;
	display: block;
	height: 20px;
	width: 30px;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 0 0 0 3px;
	color: white;
	cursor: pointer;
}

.close:hover {
	background: #db2c36;
}

.price {
	font-size: 20px;
	margin-bottom: 15px;
	margin-top: -10px;
}

.routing-columns {
	float: left;
}

.routing-column {
	width: 200px;
	float: left;
}

.routing-description {
	position: relative;
	margin-left: 10px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 10px;
}

.routing-codes {
	display: block;
	margin: 0;
	padding: 0;
	width: 200px;
}

.arrow {
	display: inline-block;
	position: relative;
	width: 24px;
	margin: 0 8px;
}

.arrow .img {
	background-image: url('../images/arrows.png');
	background-repeat: no-repeat;
	background-position: 0px -59px;
	width: 24px;
	height: 12px;
	position: absolute;
	top: 50%;
	margin-top: -6px;
}

.date {
	color: #4d90fe;
}

.duration {
	color: #6e788b;
}

.routing-overview {
	padding: 0 0 20px 40px;
	position: relative;
	text-align: left;
}

.space-enforcer {
	height: 52px;
}

.place {
	font-weight: bold;
}

.time {
	font-size: 10px;
	color: #6e788b;
}

.summary-arrow {
	background-image: url('../images/arrows.png');
	background-repeat: no-repeat;
	width: 21px;
	height: 59px;
	position: absolute;
	top: 10px;
	left: 10px;
}

.hide {
	display: none;
}

.routing-column-right {
	padding-left: 10px;
	border-left: 1px solid gray;
}

.cc-icon-container {
	width: 52px;
	height: 34px;
	display: inline-block;
}

.cc-generic, .cc-amex, .cc-maestro, .cc-mastercard, .cc-visa {
	width: 51px;
	height: 31px;
	margin-top: 13px;
	background-image: url('../images/cc.png');
}

.cc-generic {
	background-position: 0 -31px;
}

.cc-amex {
	background-position: 0 0;
}

.cc-maestro {
	background-position: 0 -62px;
}

.cc-mastercard {
	background-position: 0 -93px;
}

.cc-visa {
	background-position: 0 -124px;
}

#cc:invalid {
	color: red;
}

#cc:valid {
	color: green;
}

.fs-passenger-details {
	text-align: left;
	margin-left: 10px;
}

.fs-passenger-text {
	color: gray;
}

.fs-passenger-name {
	font-size: 14px;
}

#fs-passenger-2 {
	margin-top: 5px;
}

#fs-to-pay {
	margin: 20px;
	font-size: 16px;
}
/* Booking CSS end */

/* Success form */
.success-header {
	margin-top: 10px;
	font-family: Open Sans Condensed;
	font-weight: bold;
	font-size: 24px;
}

.success-text {
	margin-top: 10px;
	font-family: Open Sans Condensed;
	font-size: 14px; 
}

.success-highlight {
	color: #27AE60;
}

.success-num {
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: Open Sans Condensed;
	font-size: 30px;
}
/* Success form end*/