* {
	margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  color: #444444;
  background-color: #e5e5e5;
}

#wrapper {
	width: 1000px;
	margin: auto;
}

header {
	height: 140px;	
}

#logo {
	background-color: #36548B;
}

#logo img {
	margin: auto;
	display: block;
	height: 100px;
}

.card {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px 0 20px 0;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.card-map {
	padding-top: 0;
}

.card .card-heading {
  padding: 0 20px;
  margin: 0;
}

.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}

.card .card-body {
  padding: 0 20px;
  margin-top: 20px;
}

.card .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

#search-form {
	float: left;
	width: 295px;
}

.row {
	min-height: 25px;
	width: 100%;
}

.input {
	float: right;
	border: 1px solid #e5e5e5;
}

.input:focus {
	box-shadow: 0 0 5px #e5e5e5;
	border: 1px solid #e5e5e5;
}

.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}

* html .ui-autocomplete {
	height: 100px;
}

#map-display {
	float: right;
	width: 680px;
	height: 400px;
}

#map-canvas {
	width: 680px;
	height: 400px;
	margin: 0px;
	padding: 0px;
}

/* Flip */

.flip-container { 
	float: right;
	width: 680px;
	height: 400px;
	padding-top: 0px;
	position: relative;
	margin: 10px auto 40px;
	-webkit-perspective: 800px;
	 -moz-perspective: 800px;
	   -o-perspective: 800px;
	      perspective: 800px;
}

#flip-card {
	width: 680px;
	height: 400px;
	position: absolute;
	-webkit-transition: -webkit-transform 1s;
	 -moz-transition: -moz-transform 1s;
	   -o-transition: -o-transform 1s;
	      transition: transform 1s;
	-webkit-transform-style: preserve-3d;
	 -moz-transform-style: preserve-3d;
	   -o-transform-style: preserve-3d;
	      transform-style: preserve-3d;
	-webkit-transform-origin: right center;
	 -moz-transform-origin: right center;
	   -o-transform-origin: right center;
	      transform-origin: right center;
}

#flip-card figure {
	height: 100%;
	width: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden;
	 -moz-backface-visibility: hidden;
	   -o-backface-visibility: hidden;
	      backface-visibility: hidden;
}

#flip-card .front .card {
	margin-top: 0;
	height: 100%;
	width: 100%;
}

#flip-card .back {
	background-color: #B3D1FF;
	  -webkit-transform: rotateY( 180deg );
	     -moz-transform: rotateY( 180deg );
	       -o-transform: rotateY( 180deg );
	          transform: rotateY( 180deg );
}

#flip-card.flipped {
    -webkit-transform: translateX( -100% ) rotateY( -180deg );
     -moz-transform: translateX( -100% ) rotateY( -180deg );
       -o-transform: translateX( -100% ) rotateY( -180deg );
          transform: translateX( -100% ) rotateY( -180deg );
}

.ad-card-text {
	height: 50px;
	background-color: #ffffff;
	opacity: 0.8;
	padding: 20px;
	border-radius: 5px;
	margin-top: -90px;
}

.ad-card-text div {
	font-size: 24px;
	font-weight: normal;
	opacity: 1.0;
}

.ad-card-text-red {
	margin-top: 15px;
	font-size: 24px;
	color: red;
}

/* Tabs ----------------------------------*/
#tabs ul { 
    height: 2.35em; 
    text-align: center; 
    list-style: none;
	position: relative;
	padding: .2em .2em 0;
	border-width: 0;
} 
#tabs ul li { 
    display: inline-block; 
    float: none; 
    top: 0px; 
    margin: 0em;
    position: relative;
	padding: 0;
	border: 0px;
	background: none;
	border-bottom: 3px solid transparent;
}
#tabs {
	padding: .2em;
	zoom: 1;
}
#tabs ul li span {
	float: left;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	padding: .5em 1em;
	color: #444444;
}
#tabs ul li span:hover {
	cursor: pointer;
	cursor: hand;
}

#tabs-content {
	padding: 1.1em 1.6em;
	display: block;
	border-width: 0;
	background: none;
}

#tabs ul li:hover {
	border-bottom: 3px solid #4d90fe;
}

#tabs ul .ui-state-active {
	border-bottom: 3px solid #427fed;
}

.row span {
	font-size: 1.1em;
}

#results {
	padding: 15px;
}

#results-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
}

#results-table thead th {
	background-image: url('../images/bg.png');
	background-repeat:no-repeat;
	background-position: right center;
	text-align: left;
	font-size: 20px;
	padding: 10px 10px;
	background-color: #4D90FE;
	color: white;
}

#results-table th.headerSortDown {
	background-image: url('../images/desc.png');
	background-repeat:no-repeat;
	background-position: right center;

	text-align: left;
	font-size: 20px;
	padding: 10px 10px;
	background-color: #2F5BB7;
	color: white;
}

#results-table th.headerSortUp {
	background-image: url('../images/asc.png');
	background-repeat:no-repeat;
	background-position: right center;
	text-align: left;
	font-size: 20px;
	padding: 10px 10px;
	background-color: #2F5BB7;
	color: white;
}

#results-table thead th:first-child {
    border-radius: 6px 0 0 0;
}

#results-table thead th:last-child {
    border-radius: 0 6px 0 0;
}

#results-table tbody tr:hover {
	background-color: #eee;
}

#results-table tbody tr td {
	padding: 10px 10px;
}

.clearfix {
	clear: both;
}

/* City Guide CSS */
.frontpage-city-guide h1,.frontpage-city-guide .city-block-header
{
	color: #163f5e;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 32px;
	font-weight: bold;
	margin: 40px 0;
	text-align: center;
	
}

.frontpage-city-guide {
	display: block;
}

.frontpage-city-guide h1
{
	font-size: 32px;
	line-height: 32px;
}
.frontpage-city-guide .city-block-header
{
	font-size: 24px;
	line-height: 24px;
}
.frontpage-city-guide .frontpage-city-guide-inner
{
	margin: 0 auto;
	max-width: 1025px;
}
.frontpage-city-guide .frontpage-city-guide-inner .city-blocks
{
	text-align: center;
}
.frontpage-city-guide .frontpage-city-guide-inner .city-blocks .city-block
{
	color: white;
	display: inline-block;
	filter: alpha(opacity=90);
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	margin: 0 10px 16px;
	opacity: 0.9;
	text-align: center;
	text-decoration: none;
	text-shadow: #000 1px 1px 1px;
}
.frontpage-city-guide .frontpage-city-guide-inner .city-blocks .city-block.hidden
{
	display: none;
}
.frontpage-city-guide .frontpage-city-guide-inner .city-blocks .city-block:hover
{
	filter: alpha(opacity=100);
	opacity: 1;
}
.frontpage-city-guide .frontpage-city-guide-inner .city-blocks .city-block .city-name
{
	font-size: 36px;
	line-height: 36px;
	padding-top: 40px;
}
.frontpage-city-guide .frontpage-city-guide-inner .city-blocks .city-block .state-name
{
	font-size: 22px;
	line-height: 22px;
	padding-top: 4px;
}
.frontpage-city-guide .frontpage-city-guide-inner .expand-city-guide
{
	margin-left: 10px;
	font-size: 18px;
}

.frontpage-city-guide .frontpage-city-guide-inner .expand-city-guide:hover
{
	color: blue;
	cursor: pointer;
}
.frontpage-hr
{
	border-bottom: 1px solid #d2d2d2;
	margin: 20px auto 40px;
	max-width: 1025px;
}
.frontpage-results
{
	height: 384px;
	position: relative;
}

.city-block {
    height: 141px;
    width: 235px;
    background-repeat: no-repeat;
    background-color: #222;
    cursor: pointer; 
}
.city-block.load-images.city-block-atlanta {
    background-image: url("../images/city_blocks/atlanta.jpg")}
.city-block.load-images.city-block-austin {
    background-image: url("../images/city_blocks/austin.jpg")}
.city-block.load-images.city-block-baltimore {
    background-image: url("../images/city_blocks/baltimore.jpg")}
.city-block.load-images.city-block-berkeley {
    background-image: url("../images/city_blocks/berkeley.jpg")}
.city-block.load-images.city-block-boston {
    background-image: url("../images/city_blocks/boston.jpg")}
.city-block.load-images.city-block-chicago {
    background-image: url("../images/city_blocks/chicago.jpg")}
.city-block.load-images.city-block-dallas {
    background-image: url("../images/city_blocks/dallas.jpg")}
.city-block.load-images.city-block-denver {
    background-image: url("../images/city_blocks/denver.jpg")}
.city-block.load-images.city-block-detroit {
    background-image: url("../images/city_blocks/detroit.jpg")}
.city-block.load-images.city-block-fortlauderdale {
    background-image: url("../images/city_blocks/fortlauderdale.jpg")}
.city-block.load-images.city-block-hongkong {
    background-image: url("../images/city_blocks/hongkong.jpg")}
.city-block.load-images.city-block-houston {
    background-image: url("../images/city_blocks/houston.jpg")}
.city-block.load-images.city-block-laketahoe {
    background-image: url("../images/city_blocks/laketahoe.jpg")}
.city-block.load-images.city-block-lasvegas {
    background-image: url("../images/lasvegas.jpg")}
.city-block.load-images.city-block-london {
    background-image: url("../images/city_blocks/london.jpg")}
.city-block.load-images.city-block-losangeles {
    background-image: url("../images/city_blocks/losangeles.jpg")}
.city-block.load-images.city-block-madrid {
    background-image: url("../images/city_blocks/madrid.jpg")}
.city-block.load-images.city-block-miami {
    background-image: url("../images/city_blocks/miami.jpg")}
.city-block.load-images.city-block-monterey {
    background-image: url("../images/city_blocks/monterey.jpg")}
.city-block.load-images.city-block-montreal {
    background-image: url("../images/city_blocks/montreal.jpg")}
.city-block.load-images.city-block-napa {
    background-image: url("../images/city_blocks/napa.jpg")}
.city-block.load-images.city-block-neworleans {
    background-image: url("../images/city_blocks/neworleans.jpg")}
.city-block.load-images.city-block-newyork {
    background-image: url("../images/city_blocks/newyork.jpg")}
.city-block.load-images.city-block-oakland {
    background-image: url("../images/city_blocks/oakland.jpg")}
.city-block.load-images.city-block-orangecounty {
    background-image: url("../images/city_blocks/orangecounty.jpg")}
.city-block.load-images.city-block-orlando {
    background-image: url("../images/city_blocks/orlando.jpg")}
.city-block.load-images.city-block-paris {
    background-image: url("../images/city_blocks/paris.jpg")}
.city-block.load-images.city-block-philadelphia {
    background-image: url("../images/city_blocks/philadelphia.jpg")}
.city-block.load-images.city-block-phoenix {
    background-image: url("../images/city_blocks/phoenix.jpg")}
.city-block.load-images.city-block-portland {
    background-image: url("../images/city_blocks/portland.jpg")}
.city-block.load-images.city-block-raleigh {
    background-image: url("../images/city_blocks/raleigh.jpg")}
.city-block.load-images.city-block-riverside {
    background-image: url("../images/city_blocks/riverside.jpg")}
.city-block.load-images.city-block-rome {
    background-image: url("../images/city_blocks/rome.jpg")}
.city-block.load-images.city-block-saltlakecity {
    background-image: url("../images/city_blocks/saltlakecity.jpg")}
.city-block.load-images.city-block-sanantonio {
    background-image: url("../images/city_blocks/sanantonio.jpg")}
.city-block.load-images.city-block-sandiego {
    background-image: url("../images/city_blocks/sandiego.jpg")}
.city-block.load-images.city-block-sanfrancisco {
    background-image: url("../images/city_blocks/sanfrancisco.jpg")}
.city-block.load-images.city-block-seattle {
    background-image: url("../images/city_blocks/seattle.jpg")}
.city-block.load-images.city-block-sanjose {
    background-image: url("../images/city_blocks/sanjose.jpg")}
.city-block.load-images.city-block-sonoma {
    background-image: url("../images/city_blocks/sonoma.jpg")}
.city-block.load-images.city-block-stlouis {
    background-image: url("../images/city_blocks/stlouis.jpg")}
.city-block.load-images.city-block-stpaul {
    background-image: url("../images/city_blocks/stpaul.jpg")}
.city-block.load-images.city-block-tampa {
    background-image: url("../images/city_blocks/tampa.jpg")}
.city-block.load-images.city-block-tokyo {
    background-image: url("../images/city_blocks/tokyo.jpg")}
.city-block.load-images.city-block-toronto {
    background-image: url("../images/city_blocks/toronto.jpg")}
.city-block.load-images.city-block-vancouver {
    background-image: url("../images/city_blocks/vancouver.jpg")}
.city-block.load-images.city-block-washingtondc {
    background-image: url("../images/city_blocks/washingtondc.jpg")}

/* HIPMUNK CSS END */